<%= form_for(employee) do |f| %>
  <% if employee.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(employee.errors.count, "error") %> prohibited this employee from being saved:</h2>

      <ul>
      <% employee.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :first_name %>
    <%= f.text_field :first_name, class: 'form-control' %>
  </div>
  
  <div class="field">
    <%= f.label :last_name %>
    <%= f.text_field :last_name, class: 'form-control' %>
  </div>


  <div class="field">
    <%= f.label :email %>
    <%= f.text_field :email, class: 'form-control' %>
  </div>

  <div class="field">
    <%= f.label :phone %>
    <%= f.text_field :phone, class: 'form-control' %>
  </div><br/>
    <div class="field">
    <%= f.label :position %>
    <%= f.text_field :position, class: 'form-control' %>
  </div>


  <div class="field">
    <%= f.label :start_date %>
    <%= f.text_field :start_date, class: 'form-control', id: "start_date" %>
  </div><br/>

  <div class="field">
    <%= f.label :age %>
    <%= f.select :age, (18..100), class: 'form-control' %>
  </div><br/>

  <div class="field">
    <%= f.label :gender %>
    <%= f.select :gender, %w{Male Female Others}, :prompt => 'Select', required: true, placeholder: 'Gender', class: 'form-control' %>
  </div>

  <div class="actions">
    <%= f.submit "Submit", class: "btn btn-primary" %>
  </div>
<% end %>

<script type="text/javascript">
  // calender for start_date
  const el = document.getElementById('start_date');
  flatpickr(el, {
    enableTime:      true,
    altInput:        true,
    altFormat:       "F j, Y",
    dateFormat:      "Y-m-d",
    minuteIncrement: 1
  });
</script>
