<div class="container-fluid">
  <p id="notice"><%= notice %></p>
  <div class='row py-3 px-3'>
    <div class='col-12 col-sm-8'>
  
      <h1 style="border-bottom: double 5px gray; padding: 10px;">Employee Management</h1>
      <table id='employee-table' class="table table-hover">
        <thead>
          <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Age</th>
            <th>Gender</th>
            <th colspan="3"></th>
          </tr>
        </thead>
      
        <tbody>
          <% @employees.each do |employee| %>
            <tr>
              <td><%= employee.name %></td>
              <td><%= employee.email %></td>
              <td><%= employee.phone %></td>
              <td><%= employee.age %></td>
              <td><%= employee.gender %></td>
              <td><%= link_to 'Show', employee %></td>
              <td><%= link_to 'Edit', edit_employee_path(employee) %></td>
              <td><%= link_to 'Destroy', employee, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      
      <br>
      
      <%= link_to 'Create Employee', new_employee_path %>
    </div>
  </div>
</div>
